<%= form_tag root_path, :method => 'POST' do %>
	<div class="form-horizontal">
	<%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 20, class:'form-control' %>
	<%= submit_tag 'Lookup Stock Quote' %>
	</div>

<% end %>
 
<br/><br/>


<% if @stock %>
	<%= @stock.name %>
<% elsif @nothing %>
	<%= @nothing %>
<% end %>

<% if @error %>
	<%= @error %>
<% end %>